<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- <!—- 주의! 이거 같이 꼭 넣어주기 -—> -->
  <mapper namespace="com.spring_boot_watflix.dao.IMemberDAO">
  <!-- Resultmap 작성할 것 -->
  
  	<!-- 회원 가입  -->
	<insert id="signUp" parameterType="com.spring_boot_watflix.project.model.MemberVO">
		INSERT member (memNo, memId, memPwd, memNickname, memBirth, memHp, memZipcode, memAddress1, memAddress2, memGenre)
		VALUES(#{memNo}, #{memId}, #{memPwd}, #{memNickname}, #{memBirth}, #{memHp}, #{memZipcode}, #{memAddress1}, #{memAddress2}, #{memGenre})
	</insert>
  
  <!-- 로그인 확인 -->
   <select id="loginCheck" parameterType="hashmap" resultType="string">
  	SELECT memId FROM member WHERE memId=#{memId} and memPwd=#{memPwd}
  </select>
  
  </mapper>